{:paths   ["src"]
 :deps    {buddy/buddy-sign             {:mvn/version "3.5.351"}
           com.datomic/peer             {:mvn/version "1.0.7021"}
           io.pedestal/pedestal.jetty   {:mvn/version "0.6.1"}
           io.pedestal/pedestal.service {:mvn/version "0.6.1"}
           org.clojure/clojure          {:mvn/version "1.12.0-alpha5"}
           org.slf4j/slf4j-simple       {:mvn/version "2.0.9"}}

 :aliases {:test {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                                     :git/sha "dfb30dd"}}
                  :main-opts  ["-m" "cognitect.test-runner"]}
           :dev  {:extra-paths ["dev" "test"]
                  :extra-deps  {org.clojure/test.check        {:mvn/version "1.1.1"}
                                io.github.clojure/tools.build {:mvn/version "0.9.6"}}
                  :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                                "-Dclojure.core.async.go-checking=true"
                                "-Dclojure.main.report=stderr"]}}}
